::ng-deep #container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: none;
}

.categories{
    width: 7.5em;
    box-shadow: none;
    border: dashed .5px grey;
    background-color: transparent;
    transform: rotate(5deg);

    &.selected{
        background-color: white;
        border:none;
        transform: rotate(0deg);
    }

    &:hover{
        background-color: white;
        border:none
    }

    img{
        opacity: 0.5;
    }

}
:host ::ng-deep {
    .p-steppanel{
        background: transparent;
    }

    .p-card-title{
        text-align: center;
        font-size: .85em;
        font-weight: 300;
        margin-top: .125em;
        text-transform: capitalize;
    }
    .p-card-body{
        padding: 0;
    }
    .p-card-footer{
        display: flex;
        justify-content: center;
    }
    .categories .p-inputnumber-input {
        max-width: 3.5em;
        border: none;
        text-align: center;
        padding: 0;
        background-color: transparent;
    }

    .p-inputnumber-button {
        width: 1.5em;
        border: none !important;
    }
}