<video src="assets/background.mp4" autoplay muted loop></video>
<div id="app" class="h-100 w-100 pt-4">
  <p-toast position="top-right"></p-toast>

  <header class="mx-4">
    <div class="row p-2">
      <div class="col-3 d-flex ps-4">
        <h5 class="my-auto">QuickWash</h5>
      </div>
      <div class="col-6 d-flex">
        <!-- <p-menubar class="ms-auto" [model]="items" /> -->
      </div>
      <div class="col-3 d-flex pe-4">
        <span class="ms-auto my-auto">
          <button *ngIf="!user; else logout" rounded="" (click)="visible = true" pButton>
            <i class="pi pi-power-off"></i>
          </button>
          <ng-template #logout>
            <div class="flex gap-3 align-items-center">
              <span class="ms-2"
                ><p-avatar shape="circle" rounded class="me-2 bg-tertiary raised">
                  <i class="pi pi-user"></i></p-avatar
                >{{ user?.firstName }} {{ user?.lastName }}</span
              >
              <button rounded="" pButton>
                <i class="pi pi-sign-out"></i>
              </button>
            </div>
          </ng-template>
        </span>
      </div>
    </div>
  </header>

  <div id="main" class="px-4">
    <div class="row">
      <div class="col-md-5">
        <app-new-wash></app-new-wash>
      </div>
      <div class="col-md-4">
        <app-list></app-list>
      </div>
      <div class="col-md-3">
        <app-details></app-details>
      </div>
    </div>
  </div>
</div>

<p-drawer position="right" header="Authentification" [(visible)]="visible">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Connexion</p-tab>
      <p-tab value="1">Inscription</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-login (success)="onAuthSuccess()"></app-login>
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-register (success)="onAuthSuccess()"></app-register>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-drawer>
